<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	   default-autowire="byType">

  <!--
<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="/WEB-INF/jdbc.properties" />

  <bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource"
    p:driverClassName="${jdbc.driverClassName}"
    p:url="${jdbc.url}"
    p:username="${jdbc.username}"
    p:password="${jdbc.password}" />
    -->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    <bean class="controller.DonorController" id="donorController"/>
    <bean class="view.DonorView" id="donorView"/>
    <bean class="jpa.DonorJpaController" id="donorJpaController"/>
  
    <bean class="controller.OrganizationController" id="organizationController"/>
    <bean class="view.OrganizationView" id="organizationView"/>
    <bean class="jpa.OrganizationJpaController" id="organizationJpaController"/>
  
    <bean class="controller.DepartmentController" id="departmentController"/>
    <bean class="view.DepartmentView" id="departmentView"/>
    <bean class="jpa.DepartmentJpaController" id="departmentJpaController"/>

    <bean class="controller.EmployeeController" id="employeeController"/>
    <bean class="view.EmployeeView" id="employeeView"/>
    <bean class="jpa.EmployeeJpaController" id="employeeJpaController"/>
  
    <bean class="controller.DonationController" id="donationController"/>
    <bean class="view.DonationView" id="donationView"/>
    <bean class="jpa.DonationJpaController" id="donationJpaController"/>
  
    <bean class="controller.ItemController" id="itemController"/>
    <bean class="view.ItemView" id="itemView"/>
    <bean class="jpa.ItemJpaController" id="itemJpaController"/>
</beans>
